:root {
    --black: rgb(11, 13, 24);
    --black-absolute: rgba(11, 13, 24, 0.5);
    --grey: #b6b7ba;
    --light: #f8f8f8;
    --white: #ffff;
}

p{
    margin: 0 !important;
    font-family: "Jost", sans-serif;
}

.post-card{
    border-radius: 25px;
    background-color: var(--white);
}

.artist-picture{
    width: 45px;
    height: 45px;
}
.artist-picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-img-container{
    width: 100%;
    height: 350px;
    position: relative;
}
.post-img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}

.icon-container{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 20px;
}

.icon-circle{
    width: 50px;
    height: 50px;
    background-color: var(--black-absolute);
    text-align: center;
    border-radius: 50%;
}

.icon-circle i{
    padding-top: 15px;
}

.post-icon{
    color: var(--white);
    font-size: large;
}

.artist-info p:nth-of-type(1) span{
    font-weight: 800;
    font-size: large;
}