:root {
    --primary-color: black;
    --secondary-color: #C7CDBE;
    --secondary-color-hover: #e7eddc;
    --third-color: rgb(36, 36, 36);
    --third-color-hover: #434343;
    --payoff: yellow;
    --white: white;
}

.general-btn{
    background-color: var(--payoff);
    color: var(--third-color);
    border-radius: 25px;
    border: none;
    padding: 10px 15px;
}