:root {
    --black: rgb(11, 13, 24);
    --black-absolute: rgba(11, 13, 24, 0.5);
    --grey: #b6b7ba;
    --light: #f8f8f8;
    --white: #ffff;
}

.general-btn{
    background-color: var(--black);
    color: var(--light);
    border-radius: 25px;
    padding: 5px 15px;
    font-weight: 600;
    border: none;
    font-family: "Jost", sans-serif;
}

@media screen and (max-width: 431px) {
    .general-btn {
        font-size: small;
        padding: 2px 8px;
    }
}