:root {
    --black: rgb(11, 13, 24);
    --black-absolute: rgba(11, 13, 24, 0.5);
    --grey: #b6b7ba;
    --light: #f8f8f8;
    --white: #ffff;
}

.liquid-btn{
    width: 100%;
    border: 2px solid var(--black);
    font-family: "Jost", sans-serif;
    border-radius: 25px;
    padding: 15px;
    font-weight: 600;
    white-space: nowrap;
    color: var(--black);
    cursor: pointer;
    user-select: none;
    background: transparent;
    background-image: url('../../assets/img/liquid-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -100%;
    
}

.liquid-btn:hover{
    background-position: 500% 100%;
    color: var(--white);
    transition: 2.5s ease;
}