.scroll-nav {    
    overflow-y: scroll;
    max-height: calc(100vh - 55px);
}

@media screen and (max-width: 426px) {

    .scroll-nav {
        background-color: transparent;
        border: none;
    }
}