:root {
    --black: rgb(11, 13, 24);
    --black-absolute: rgba(11, 13, 24, 0.5);
    --grey: #b6b7ba;
    --light: #f8f8f8;
    --white: #ffff;
}

.side-nav {
    position: sticky;
    top: 50px;
    overflow-y: scroll;
    max-height: 100vh;
    background-color: var(--white);
    border-radius: 25px;
    box-shadow: 0px 1px 0px rgba(3, 7, 18, 0.00),
        2px 3px 1px rgba(3, 7, 18, 0.01),
        2px 4px 1px rgba(3, 7, 18, 0.01),
        6px 10px 2px rgba(3, 7, 18, 0.02),
        12px 21px 7px rgba(3, 7, 18, 0.02);

}

.invisible-scrollbar::-webkit-scrollbar {
    display: none;
}

/* PROFILE */
.profile-picture {
    width: 75px;
    height: 75px;
    border-radius: 25px;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.profile-info{
    font-weight: 600;
}
