:root {
    --primary-color: #050402;
    --secondary-color: #C7CDBE;
    --secondary-color-hover: #e7eddc;
    --third-color: #242424;
    --third-color-hover: #434343;
    --payoff: yellow;
    --white: white;
}

.side-nav {
    position: sticky;
    top: 50px;
    overflow-y: scroll;
    max-height: 100vh;
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}

/* PROFILE */
.profile-picture{
    width: 75px;
    height: 75px;
}
.profile-picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

/* ICONS */
.fa-arrow-trend-up{
    color: var(--secondary-color);
}