:root {
    --black: rgb(11, 13, 24);
    --black-absolute: rgba(11, 13, 24, 0.5);
    --grey: #b6b7ba;
    --light: #f8f8f8;
    --white: #ffff;
}

.event-title{
    font-family: "Jost", sans-serif;
    font-weight: 600;
}

.event-card{
    background-color: var(--white);
    border-radius: 25px;
    max-height: 400px;
    position: relative;
    box-shadow: 0px 1px 0px rgba(3, 7, 18, 0.00),
        2px 3px 1px rgba(3, 7, 18, 0.01),
        2px 4px 1px rgba(3, 7, 18, 0.01),
        6px 10px 2px rgba(3, 7, 18, 0.02),
        12px 21px 7px rgba(3, 7, 18, 0.02);
}

.event-card .event-img{
    width: 100%;
    object-fit: cover;
    height: 400px;
    border-radius: 25px;
}

.event-info{
    border-radius: 25px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 400px;
}

.event-info p{
    text-shadow: 2px 2px 6px rgba(255,255,255,0.2);
}

.event-date{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.profile-picture-event {
    width: 50px;
    height: 50px;
    border-radius: 12px;
}

.profile-picture-event img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}