:root {
    --black: #0b0d18;
    --grey: #b6b7ba;
    --light: #f8f8f8;
    --white: #ffff;
}

.nav-icon{
    color: var(--black);
    font-size: x-large;
}

.logo{
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 24px;
}

/* CSS */

.btn-login {
    background-color: var(--third-color);
    padding: 10px 30px;
    border-radius: 15px 50px 50px 15px;
    border: none;
    color: var(--white);
    text-align: center;
}

.btn-login:hover {
    background-color: var(--third-color-hover);
}

.btn-registration {
    background-color: var(--secondary-color);
    padding: 10px 30px;
    border-radius: 50px 15px 15px 50px;
    border: none;
    color: var(--third-color);
    text-align: center;
}

.btn-registration:hover {
    background-color: var(--secondary-color-hover);
    color: var(--third-color);
}

@media screen and (max-width: 376px) {
    .btn-login, 
    .btn-registration {
        padding: 8px 20px;
    }
}

@media screen and (max-width: 320px) {
    .playwrite-nz {
        font-size: larger;
    }
    .btn-login, 
    .btn-registration {
        padding: 5px 15px;
    }
}