:root {
    --black: #0b0d18;
    --grey: #b6b7ba;
    --light: #f0f0f0;
    --white: #ffff;
}

.nav-icon{
    color: var(--black);
    font-size: x-large;
}

.logo{
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 24px;
}

/* CSS */

.btn-login {
    background-color: var(--black);
    color: var(--light);
    border-radius: 25px;
    padding: 5px 15px;
    font-weight: 600;
    border: 2px solid var(--black);
}

.btn-registration {
    background-color: var(--light);
    color: var(--black);
    border: 2px solid var(--black);
    border-radius: 25px;
    padding: 5px 15px;
    font-weight: 600;
}

.btn-registration:hover {
    background-color: var(--black);
    color: var(--white);
}

/* @media screen and (max-width: 376px) {
    .btn-login, 
    .btn-registration {
        padding: 8px 20px;
    }
}

@media screen and (max-width: 320px) {
    .playwrite-nz {
        font-size: larger;
    }
    .btn-login, 
    .btn-registration {
        padding: 5px 15px;
    }
} */