@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Playwrite+NZ&display=swap');

:root {
    --primary-color: #050402;
    --secondary-color: #C7CDBE;
    --secondary-color-hover: #e7eddc;
    --third-color: #242424;
    --third-color-hover: #434343;
    --payoff: yellow;
    --white: white;
}

/* Font */
.playwrite-nz {
    font-family: "Playwrite NZ", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--white);
    font-size: xx-large;
}

.caveat {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--payoff);
    font-size: large;
    padding-top: 5px;
}

.fa-droplet{
    color: var(--payoff);
    font-size: xx-large;
}

/* CSS */

.btn-login {
    background-color: var(--third-color);
    padding: 10px 30px;
    border-radius: 15px 50px 50px 15px;
    border: none;
    color: var(--white);
    text-align: center;
}

.btn-login:hover {
    background-color: var(--third-color-hover);
}

.btn-registration {
    background-color: var(--secondary-color);
    padding: 10px 30px;
    border-radius: 50px 15px 15px 50px;
    border: none;
    color: var(--third-color);
    text-align: center;
}

.btn-registration:hover {
    background-color: var(--secondary-color-hover);
    color: var(--third-color);
}

@media screen and (max-width: 376px) {
    .btn-login, 
    .btn-registration {
        padding: 8px 20px;
    }
}

@media screen and (max-width: 320px) {
    .playwrite-nz {
        font-size: larger;
    }
    .btn-login, 
    .btn-registration {
        padding: 5px 15px;
    }
}