:root {
    --primary-color: black;
    --secondary-color: #C7CDBE;
    --secondary-color-hover: #e7eddc;
    --third-color: rgb(36, 36, 36);
    --third-color-hover: #434343;
    --payoff: yellow;
    --white: white;
}

.category-btn{
    background-color: var(--third-color-hover);
    color: var(--white);
    border-radius: 25px;
    border: none;
    padding: 10px 15px;
}

.category-btn:hover{
    background-color: var(--white);
    color: var(--third-color);
    font-weight: 600;
    transition: all ease-in-out 0.3s;
}